#root {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.grid-cell {
  background: #ecaa;
  border: 1px solid #8f8f8f;
}

.flex {
  display: flex;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.no-scroll-x {
  overflow: hidden !important;
}
